.App {
  background-color: #F7F5F0;
}

.title {
  font-family: "Marcellus SC", serif;
}

.card-columns {
  column-count: 3!important;
}

.card-group .card {
  min-width: 300px;
}

.card a {
  display: block;
}

.card .author-link {
  display: inline-block;
  margin-right: 10px;
}

.card-body {
  color: #33262D;
}

.card-body h5.card-title {
  font-family: "Marcellus SC", serif;
}

.card {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
}

.card-group .card {
  border-left: 1px solid rgba(0,0,0,.125)!important;
  border-radius: .25rem!important;
}

.large-loader {
  position: absolute;
  width: 100%;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .card-columns {
    column-count: 2!important;
  }
}

@media (max-width: 560px) {
  .card-columns {
    column-count: 1!important;
  }
}